.vs/*
.vs/
.bin/
.obj/
*.csproj
*.sln
*.exe
*.pdb
*.cache
*.suo
AlgorithmTest/AlgorithmTest/Quiz/DevTest1.cs
AlgorithmTest/AlgorithmTest/Quiz/DevTest2.cs
AlgorithmTest/AlgorithmTest/Quiz/DevTest3.cs
AlgorithmTest/AlgorithmTest/Quiz/DevTest4.cs
AlgorithmTest/AlgorithmTest/Quiz/Necto_1.cs
AlgorithmTest/AlgorithmTest/Quiz/TEST.cs
AlgorithmTest/AlgorithmTest/Quiz/TEST2.cs
AlgorithmTest/AlgorithmTest/Quiz/TEST3.cs
AlgorithmTest/AlgorithmTest/Quiz/TEST4.cs
AlgorithmTest/AlgorithmTest/obj/Debug/AlgorithmTest.csproj.FileListAbsolute.txt
